<!DOCTYPE html>
<html>
<head>
    <style>
        .email-content {
            max-width: 500px;
            margin: auto;
            text-align: center;
            font-family: Arial, sans-serif;
			background-color: #ffffff;
			border-radius: 10px;
			padding: 20px;
            margin-bottom: 50px;
        }
    </style>
</head>
<body style="background-color: #d9d9d9; text-align:center; padding: 70px 0px;">
	<h1>Resetowanie hasła</h1>
    <div class="email-content">
        <div style="font-weight: bold; font-size: 20px; padding:0px 40px;">Ktoś poprosił o zresetowanie hasła dla poniższego konta:</div>
        <p style="margin-top: 30px;">Aby zresetować hasło, kliknij w przycisk poniżej</p>
        <a href="%resetLink%" style="width: 250px; display: inline-block; padding: 15px 20px; margin: 15px 0px; font-size: 15px; color: #ffffff; background-color: #1D7A85; border: none; border-radius: 5px; text-decoration: none;">Kliknij tutaj aby zresetować hasło</a>
		<p>Twój email: %userEmail%</p>
		<p style="padding: 0px 70px;">Jeśli to nie ty wysłałeś wiadomość, po prostu zignoruj tego e-maila i nic się nie stanie</p>
	</div>
</body>
</html>

